@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&family=Roboto:wght@300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Roboto", sans-serif;
}
/* --- active navlink bg color --- */
a.active {
	background-color: #cae893;
}

/* --- scrollbar colors --- */
::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #fff;
}

::-webkit-scrollbar-thumb:hover {
	background: #d4d4d4;
}
